body {
    font-family: 'Pixelify Sans', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgb(0, 0, 0);
    background-color: rgb(78, 84, 95);
    margin: 20px;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.begin {
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 20px;
    padding: 10px 20px;
    h2 {text-align: center ;}

    img {
        width: 25%;
        height: auto;
        display: block;
    }
}

.again {
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 20px;
    padding: 10px 20px;
    h2 {text-align: center ;}

    img {
        width: 45%;
        height: auto;
        display: block;
    }
}

.future {
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 20px;
    padding: 10px 20px;
    h2 {text-align: center ;}

    img {
        width: 50%;
        height: auto;
        display: block;
    }
}

.mobile {
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 20px;
    padding: 10px 20px;
    h2 {text-align: center ;}

    img {
        width: 50%;
        height: auto;
        display: block;
    }
}